# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Web Canada\Big H Restaurant Ottawa's Top Canadian &amp; Mediterranean Restaurant\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
